<div class="row">
    <div class="col-md-2">
        <button ng-click="$ctrl.performStep()">Step</button>
    </div>
    <div class="col-md-2">
        <label for="rowCount">Rows:</label>
        <input type="text" id="rowCount" name="rowCount" ng-model="$ctrl.rowCount" class="form-control" placeholder="" />
    </div>
    <div class="col-md-2">
        <label for="columnCount">Columns:</label>
        <input type="text" id="columnCount" name="ColumnCount" ng-model="$ctrl.columnCount" class="form-control" placeholder="" />
    </div>
    <div class="col-md-2">
        <label for="columnCount">Columns:</label>
        <button type="button" ng-click="$ctrl.changeBoardSize()">Set</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-bordered">
            <tr ng-repeat="row in $ctrl.board track by $index" ng-init="rowIndex=$index">
                <td ng-repeat="cell in row track by $index" ng-init="columnIndex=$index">
                    <span ng-click="$ctrl.changeCell(rowIndex,columnIndex)" style="cursor:pointer">{{cell}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
